body {
    background: url("image/robert-lukeman-_RBcxo9AU-U-unsplash.jpg");
    background-size: cover;
    font-family: calibri;
}
.form {
    height: 320px;
    width: 500px;
    border: 1.5px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(3px);
    color: white;
    margin: 100px auto;
    padding-top: 70px;
}
.inp {
    font-size: 20px;
    height: 30px;
    width: 340px;
    border: none;
    border-bottom: 2px solid white;
    background: none;
    box-sizing: border-box;
    padding-left: 3px;
    margin-bottom: 45px;
}
::placeholder {
    color: white;
}
#btn {
    height: 35px;
    font-size: 16px;
    border: none;
    background: white;
    border-radius: 17.5px;
    margin-top: 20px;
}
.cir1 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    right: 15%;
    animation: cir 3s infinite linear;
}
.cir2 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    right: 30%;
    animation: cir 3s infinite linear;
}
.cir3 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: lightcoral;
    right: 45%;
    animation: cir 3s infinite linear;
}
.cir4 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    background-color: lightblue;
    right: 60%;
    animation: cir 5s infinite linear;
}
.cir5 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    background:lightgreen;
    right: 75%;
    animation: cir 2s infinite linear;
}

.cir6 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    right: 80%;
    animation: cir 8s infinite linear;
}

.cir7 {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    right: 90%;
    animation: cir 4s infinite linear;
}

.cir8 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: cir 2s infinite alternate;
    position: absolute;
    background: rgba(255, 255, 255, 0.6);
    right: 99%;
}




@keyframes cir {
    from {
        top: 0%;
    }

    to {
        top: 90%;
    }

}